@using SistemaEscolarWeb.Models
@using SistemaEscolarWeb.Services

@inject EscolaService EscolaService
@inject IJSRuntime JSRuntime


<div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@titulo</h5>
                <button type="button" class="btn-close" @onclick="@FecharModal"></button>
            </div>
            <div class="modal-body">
                <form>
                    @if (labelEdit1 != String.Empty)
                    {
                        <div class="mb-3">
                            <label for="nomeTurma" class="form-label">@labelEdit1</label>
                            @if(enableEdit1)
                            {
                            <InputText id="edit1"
                                        class="form-control"
                                        @bind-Value="@textoEdit1"
                                        placeholder="@expEdit1"
                                        required
                                        oninput="this.value=this.value.replace(/[^A-Za-z0-9\s]/g,'')" />
                            }else
                            {
                            <InputText id="edit1"
                                        class="form-control"
                                        @bind-Value="@textoEdit1"
                                        placeholder="@expEdit1"
                                        required
                                        disabled
                                        oninput="this.value=this.value.replace(/[^A-Za-z0-9\s]/g,'')" />
                            }
                        </div>
                    }
                    @if (labelEdit2 != String.Empty)
                    {
                        <div class="mb-3">
                            <label for="nomeTurma" class="form-label">@labelEdit2</label>
                            <InputText id="edit2"
                                        class="form-control"
                                        @bind-Value="@textoEdit2"
                                        placeholder="@expEdit2"
                                        required
                                        oninput="this.value=this.value.replace(/[^A-Za-z0-9\s]/g,'')" />
                        </div>
                    }
                    @if (series.Count > 0)
                    {
                        <div class="mb-3">
                            <label for="serieTurma" class="form-label">@labelSerie1</label>
                            <select class="form-select" id="serieTurma" @bind="serieSelecionada" required>
                                <option value="0">@expSerie1</option>
                                @foreach (var s in series)
                                {
                                    <option value="@s.ID">@s.Nome</option>
                                }
                            </select>
                        </div>
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="@FecharModal">Cancelar</button>
                <button type="button" class="btn btn-primary" @onclick="@Salvar">
                    <i class="bi bi-check-circle"></i> Salvar
                </button>
            </div>
        </div>
    </div>
</div>
}


@code {
    [Parameter] public string titulo { get; set; } = String.Empty;

    [Parameter] public string labelEdit1 { get; set; } = String.Empty;
    [Parameter] public string expEdit1 { get; set; } = String.Empty;
    [Parameter] public string textoEdit1 { get; set; } = String.Empty;
    [Parameter] public bool enableEdit1 { get; set; } = true;

    [Parameter] public string labelEdit2 { get; set; } = String.Empty;
    [Parameter] public string expEdit2 { get; set; } = String.Empty;
    [Parameter] public string textoEdit2 { get; set; } = String.Empty;

    [Parameter] public List<Models.Serie> series { get; set; } = new();
    [Parameter] public string labelSerie1 { get; set; } = String.Empty;
    [Parameter] public string expSerie1 { get; set; } = String.Empty;
    [Parameter] public int serieSelecionada { get; set; } = 0;


    [Parameter] public EventCallback<(string texto, int id)> OnSalvar { get; set; }
    [Parameter] public EventCallback OnFecharModal { get; set; }

  

    private void FecharModal()
    {
        titulo = string.Empty;
      
        labelEdit1 = string.Empty;
        expEdit1 = string.Empty;
        textoEdit1 = string.Empty;
        enableEdit1 = true;

        labelEdit2 = string.Empty;
        expEdit2 = string.Empty;
        textoEdit2 = string.Empty;

        labelSerie1 = string.Empty;
        expSerie1 = string.Empty;
        serieSelecionada = 0;

        OnFecharModal.InvokeAsync();
    }

    private void Salvar()
    {
        if(titulo == "Cadastrar Nova Turma")
        {
            OnSalvar.InvokeAsync((textoEdit1, serieSelecionada));
        }
        else
        {
            OnSalvar.InvokeAsync((textoEdit2, serieSelecionada));
        }
    }
   
}